// COLORS
$color-primary: #55c57a;
$color-light-primary: #7ed56f;
$color-dark-primary: #28b485;

$color-light-secondary: #ffb900;
$color-dark-secondary: #ff7730;

$color-light-tertiary: #2998ff;
$color-dark-tertiary: #5643fa;


$color-light-gray: #f7f7f7;
$color-light-gray-1: #eee;

$color-gray-dark: #777;
$color-gray-dark-1: #999;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//GRID SYSTEM
$grid-width: 114rem;
$gutter_vertical: 8rem; //فاصله عمودی بین ستون ها
$gutter_horizontal: 6rem; //فاصله افقی بین ستون ها